<%= render "shared/navbar" %>
<h4 class="m-1">reserved area</h4>
<%= render "shared/categories" %>
<div class="m-1 d-flex justify-content-between">
  <div>
    <%= link_to "+ create new post", new_post_path, class:"btn button-white" %>
  </div>
  <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class:"btn button-black" %>
</div>
<div class="content">
  <div class="content-grid">
    <% @posts.each do |post| %>
      <%= render "shared/card", post: post %>
    <% end %>
  </div>
</div>
