<%= simple_form_for(@post, data: { turbo: :false }, html: {class:"form-new-post"}) do |f| %>
  <h2>new post</h2>
  <%= f.input :title %>
  <%= f.input :text %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit, "Create new Post", class: "button-black mt-5" %>
<% end %>
